
		    <a href="javascript:void(0)" class="sidebar-close" onclick="closeSidebar()">&#x2715;</a>
			<div class="sidebar-info homepage-info">
			<h2>Privacy Policy</h2>
            <p>This privacy policy is applicable to the website sashami.opsti.ee (hereinafter referred to as "Site")</p>
			
			<h2>What information does the Site obtain</h2>
			<h3>Automatically Collected Information</h3>
			<p>The Site may collect certain information automatically, including, but not limited to, the type of the device you use, 
			the IP address of your device, 
			your device operating system, the type of Internet browsers you use, and information about the way you use the Site.</p>
			<h3>User Provided Information</h3>
			<p>The Site has no functionality to collect User Provided Information, 
			including personally identifiable information from children under 13 years of age.</p>
			
			<h2>Third-party access</h2>
			<p>Only aggregated, anonymized data is periodically transmitted to external services to aid in improving the Site. 
			Please note that the Site utilizes third-party services that have their own Privacy Policy about handling data. 
			Below are the links to the Privacy Policy of the third-party service providers used by the Site:
			<ul>
			<li><a href="https://support.google.com/analytics/topic/2919631?hl=en&ref_topic=1008008&sjid=5082677835058550957-EU" target="_blank">Google Analytics</a></li>
			</ul>
			</p>
			
			<h2>Opt-out rights</h2>
			<p>You can halt all collection of information by the Site by not accepting the cookies.</p>
			
			<h2>Security</h2>
			<p>We are concerned about safeguarding the confidentiality of your information. 
			We limit access to information collecting functionality to contractors 
			who need to know that information in order to operate, develop or improve the SIte.</p>
			
			<h2>Changes</h2>
			<p>This Privacy Policy may be updated from time to time for any reason. Last update: 19.08.2024</p>
			
			<h2>Your Consent</h2>
			<p>By accepting cookies, you are giving your consent to us processing of your information as set forth in this Privacy Policy. 
			"Processing,” means using cookies on a computer/hand held device or using or touching information in any way, 
			including, but not limited to, collecting, storing, deleting, using, combining and disclosing information.</p>
			<p>If you have any questions regarding privacy while using the SIte,  please contact us via email info@opsti.ee</p>
			
			<div>