::selection {
  color: black;
  background: #9be8f8;
}

html, body {
	height:100%;
	margin: 0;
    padding: 0;
	font-size: 12px;
}

.map-container {
	position: relative;
    height: 100vh;
	overflow: hidden;
}

#map { 
	height: 100%;
}

.leaflet-control-zoom {
	border: none !important;
}

.leaflet-control-zoom-out:hover, .leaflet-control-zoom-in:hover {
	color: black;
	text-decoration: none !important;
}


.control-pane {
        position: absolute;
        top: 130px; 
		max-height: calc(100vh - 150px);
        right: 5px;
        z-index: 1000;
        padding: 5px;
		display: flex;
		overflow: hidden;
		justify-content: space-between; 
        flex-direction: column;
        align-items: flex-end;
    }



.badge-custom {
        cursor: pointer;
		padding: 2px !important;
        margin-bottom: 12px;
        display: block;
		text-align: right;
		background-color: white;
        opacity: 90%;
		color:black;
    }

	
.badge-custom.badge-primary {
        cursor: pointer;
        display: block;
		text-align: right;
		background-color: white;
        opacity: 90%;
		color:black;
    }
	
.badge-custom.badge-light {
	    
        font-weight:normal;
    }
	

.badge-year.badge-primary {
        cursor: pointer;
        margin-bottom: 5px;
		background-color:#9be8f8;
        opacity: 90%;
		color:black;
    }

.badge-year.badge-light {
	    cursor: pointer;
        font-weight:normal;
    }

	
#logo {
	max-width: 40%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
	flex-shrink: 0;
	object-fit: contain;
}

.k {
	max-width: 90%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.credits {
	font-size: 0.85rem;
	text-align: center;
}

.social {
	display: flex;
    flex-direction: row;
	margin: 10px 10px 0px 10px;
	justify-content: center;
}

.social img {
	max-width:30px;
	margin: 5px 5px;
}

#menu-logo {
	visibility: hidden;
	height: 100px;
	z-index: 1000;
	position: absolute;
    top: 20px; 
    left: 20px; 
	opacity: 93%;
}

#menu-logo:hover {
	opacity: 1;
	cursor: pointer;
}

#menu-logo img {
	height:100%;
}

.cookies {
	z-index: 2000;
	position: absolute;
	bottom: 25px; 
    left: 20px; 
	display: flex;
	background: #9be8f8;
	width: 330px;
	padding: 5px;
	border-radius: 5px;
	align-items: center;
    justify-content: center;
	font-size: 14px;
	visibility: hidden;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}

.cookies p {
	margin: 10px;
}


#sidebar {
    width: 350px;
    max-height: calc(100vh - 20px);
    z-index: 1000;
    position: absolute;
    top: 10px; 
    left: 10px; 
	margin-bottom: 10px;
    background-color: white;
    opacity: 96%;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
	
}

.sidebar-close {
  position: relative;
  top: 10px;
  left: 320px;
  z-index: 1200;
  text-decoration: none;
  opacity: 0.7;
  color:black;
  text-shadow: 0 0 2px #FFFFFF;
  font-size: 18px;
}

.sidebar-close:hover {
  text-decoration: none;
  color:black;
  text-shadow: 0 0 2px #FFFFFF;
}

#sidebar-content {
	overflow-y: hidden;
	overflow-x: hidden;
    opacity: 100%;
	display: flex;
    flex-direction: column;
}

.sidebar-header-pic {
	height: 220px;
	width:100%;
	object-fit:contain;
	object-position: 50% 50%;
	margin-bottom: 5px;
	flex-shrink: 0;
}

.sidebar-header {
	padding: 10px;
}

#logo {
	height:100%;
}

.sidebar-info {
	flex: 1;
	height:calc(100% - 500px);
	overflow-y:scroll;
	margin:10px;
	padding:10px;
	scrollbar-color: transparent transparent;
}

.sidebar-info, td {
	font-size: 14px;
}

.sidebar-info a, .sidebar-info a:hover, .cookies a, .cookies a:hover{
	cursor: pointer;
	color: #343a40;
}

.sidebar-info:hover {
	scrollbar-color: rgba(221, 207, 195, 0.7) rgba(255, 255, 255, 0.7);
}

.sidebar-info h3, th {
	font-size: 12px;
	color: rgba(172, 138, 108, 1);
	text-transform: uppercase;
	font-weight: normal;
}

.neighborhood.badge {
	background-color:#9be8f8;
}


.available {
	text-decoration:none;
	color:white;
}

.available:hover {
	text-decoration:none;
	color:white;
}

table {
	background-color: rgba(242, 242, 242, 0.3);
	padding: 5px;
}

.sidebar-facts tr:first-child th, .sidebar-facts tr:first-child td {
  border-top: 0;
}



@media screen and (max-device-width: 700px) {
	
	#sidebar {
    width: calc(100% - 20px);
    max-height: calc(100% - 110px);
    z-index: 1900;
    position: absolute;
	top: 70px;
}

.cookies {
	width: calc(100% - 40px);
}

.sidebar-close {
  position: relative;
  top: 10px;
  left:  calc(100% - 40px);
  z-index: 1910;
  text-decoration: none;
  opacity: 0.7;
  color:black;
  text-shadow: 0 0 2px #FFFFFF;
  font-size: 25px;
}



.social img {
	max-width:40px;
}


#menu-logo {
	height: 90px;
	top: 70px;

}
.control-pane {
        position: absolute;
        top: 150px; 
        right: 5px;
		font-size:15px;

    }
	
.leaflet-control-zoom {
	top: 10px;
}

.badge-custom {
		font-size: 8px !important;
    }
	
.sidebar-header-pic {
	height: 150px;
}

#logo {
	max-width: 30%;
}

}

@media screen and (min-width: 1930px) {
	
  html, body {
	font-size: 14px;
}
	
  #sidebar {
    width: 450px;
	
}

.sidebar-close {

  left: 420px;

}
}